
<header><h1 class="font-bold"  *ngIf="isVisible()">{{gameOne().name}} {{gameOne().year}}</h1>
  <p class="text-3xl font-bold text-red-600"> Diki-Smart</p>
  <button (click)="addTeam()">Add Team</button>
  <div class="img" src=""></div>

</header>
  <nav class="navigation">
  <a  [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact :true}" (click)="start()">Home</a>
  <a [routerLink]="['/teams']" routerLinkActive="active"  (click)="stop()" >Teams</a>
  <a [routerLink]="['/tablist']" routerLinkActive="active"   >Table</a>

</nav>
