
<header><h1 class="font-bold"  *ngIf="isVisible()">{{gameOne().name}} {{gameOne().year}}</h1>

  <p > Diki-Smart</p>

  <button class=" font-bold text-white bg-red-500 p-2.9 rounded-xl duration-1000 hover:bg-blue-500500" (click)="addTeam()">Add Team</button>
  <div class="img" src=""></div>

</header>
  <nav class="navigation">
  <a  [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact :true}" (click)="start()">Home</a>
  <a [routerLink]="['/teams']" routerLinkActive="active"  (click)="stop()" >Teams</a>
  <a [routerLink]="['/tablist']" routerLinkActive="active"   >Table</a>

</nav>
