<h2>Ajouter une équipe</h2>
<form [formGroup]="teamForm">
  <mat-form-field appearance="fill">
    <mat-label>Nom de l'équipe</mat-label>
    <input matInput formControlName="title">
    <mat-error *ngIf="teamForm.get('title')?.invalid">Nom requis</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>URL de l'image</mat-label>
    <input matInput formControlName="imageUrl">
  </mat-form-field>

  <div style="margin-top: 20px; display: flex; justify-content: flex-end;">
    <button mat-button (click)="onCancel()">Annuler</button>
    <button mat-raised-button color="primary" (click)="onSave()">Ajouter</button>
  </div>
</form>
