
.table
{
    justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0%;
}
.team-table {

  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
}

.team-table th, .team-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.team-table th {
  background-color: #f5f5f5;
}
.team-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.team-table th{
  background-color: #82b3e1;
}


.delb {
  background-color: #dba4b8a8;
  color: rgb(46, 46, 46);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 13px;

}
.delb:hover{
  transition: 0.5s;
  color: white;
  background-color:  #bb0d4ab9;
}
input
{
  border-radius: 50px ;
  border: none;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.685);
}