
.table
{
    justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0%;
}
.team-table {

  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
}

.team-table th, .team-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.team-table th {
  background-color: #f5f5f5;
}
.team-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.team-table th{
  background-color: #82b3e1;
}
.no-border {
  border: white;
  ;
}
