.landing-block
{
position: absolute;
top:50%;
left : 50%;
transform: translate(-50%, -50%)
}

// .landing-block /// copie et modif
// {
// margin-top: 10%;
// padding:100px;
// }


.la{
  width: 320px;
  height: 320px;
  padding: 25px;
  margin-top: 25px;
  text-align: center;
  // background: url('../../assets/images/la.webp');
  background-size:contain;
  background-repeat:no-repeat;
  background-position: 0%;
}
.landing-links
{
  width: 100%;
  text-align: center;
  padding: 25px;
}
.voir_liste{
  border: none;
  font-size: 15px;
  margin: 0 10px;
  border-radius: 5px;
  width:105px;
  padding: 10px;
  margin: 1;
  color: #bbbbbb;
  background-color: #0200819a;
  text-decoration: none;
  &:hover {
    //text-decoration: underline;
    color: #ffffff;
    background-color: #e44bcfde;
  }
}

.active {
  color: #ffffff;
  background-color: #9500b3cb;
}
