<h2>Races</h2>
<div class="container text-start">

<!-- // interpolation -->

<div class="row">
  <div class="col">
  <p>{{firstName}} Niveau :  {{learnigLevel | percent :'1.0-1'}}</p>
  <p>Version : {{version}}</p>
  </div>
  <div class="col-3">
  <p>{{races[1].name}}</p>
  </div>
  <div class="col">
  <p>Le {{ currentDate | date: 'longDate'}}</p>

<!-- property binding -->

  <input type="text" [value]="firstName" class="form-control">
  <input type="text" [(ngModel)]="firstName"/>
  <button (click)="onButtonClick()">Click to change town </button>
  <input [type]="inputType">
  </div>
</div>
</div>
