/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, Helvetica, sans-serif;
}
  img {
    width: 100%;
  }
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5b1;
  background: radial-gradient(circle,
  rgb(255, 255, 255),
  rgb(255, 255, 255),
  rgba(189, 189, 189, 0.877)
);}
